VITE_API_URL=http://localhost:3001
VITE_BASE_RPC_URL=https://mainnet.base.org
VITE_PRIVY_APP_ID=cmmkr8zge00b00eky502lv0kn
# Optional - set when deploying
VITE_NEURO_TOKEN_ADDRESS=
VITE_CLAIM_RECEIVER_ADDRESS=
